/*Beginning of master file css
  Author: Evans Wanjau
  master file connected to index file of simple UI page
*/
body{
  background-color:#282C34;
  font-family:century gothic;
  text-align:center;
  color:white;
}
a{
  color:grey;
  text-decoration:none;
  font-size:12px; 
}
a:hover{
  color:white;
}
.login{
  margin-left:15%;
  margin-right:15%;
  margin-top:5%;
  padding-top:10%;
  padding-bottom:10%;
}
form{
  margin:auto;
}
input{
  width:30%;
  padding:1%;
  margin:1%;
  background-color:transparent;
  border:1px solid white;
  border-radius:5px;
  color:white;
  font-family:century gothic;
}
input:focus{
	border:none;
	border:2px solid white;
  border-color:yellow;
	outline:none !important;
}
button{
  background-color:transparent;
  border:1px solid white;
  font-family:century gothic;
  border-radius:5px;
  width:22%;
  padding:1%;
  margin:1%;
  color:white;
}
button:hover{
  background-color:white;
  color:black;
  cursor:pointer;
}
